@model ImageProcessingTool.Models.Image
@using ImageProcessingTool.Models;

@{
    ViewBag.Title = "Upload Image";
    List<Image> lstImage = ViewBag.AllImages;
}

<h2>Upload Image</h2>


@using (Html.BeginForm("Add", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
            <br />
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ImageFiles, "", new { @type = "file", @multiple = "multiple", @accept = "image/png, image/jpeg, image/bmp" })
                @if (@Model != null)
                {
                    if (Model.IsValidImage)
                    {
                        <span class="text-success">@Model.Message</span>
                    }
                    else
                    {
                        <span class="text-danger">@Model.Message</span>
                    }
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>

    
    <h2>Uploaded Images</h2> 
    <hr /><br /><br />
    
    <div class="gallery">
        @foreach (var item in lstImage)
        {
            <a target="_blank" href='@Url.Action("Filter","Image", new { file =item.ImagePath })'>
                <div class="thumbnail">
                    <img src="@Url.Content(item.ImagePath)" />
                </div>
            </a>
        }
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
