@model IEnumerable<ImageProcessingTool.Models.Image>

@{
    ViewBag.Title = "ViewAll";
}

<h2>ViewAll</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="gallery" style=" display: flex; flex-direction: row; flex-wrap: wrap;">
@foreach (var item in Model)
{
    <div class="thumbnail" style="border: solid gray 3px;">
        <img src="@Url.Content(item.ImagePath)" width="100" height="100" />
    </div>
}
</div>
    @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImagePath)
                        </td>

                    <td>
                        <img src="@Url.Content(item.ImagePath)" width="100" height="100" />
                        @Html.ActionLink("Edit", "Edit", new { id = item.ImageID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ImageID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ImageID })
                    </td>
                </tr>
            }

        </table>*@
